body{
    /* width: 40%; */
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color:aliceblue;
}
.rendered-item{
    
    margin: 20px auto;
}
.rendered-title{
    font-weight: bold;
}
.rendered-content{
    color: gray;
}

